@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Changa:wght@200..800&family=Courgette&display=swap");

:root {
  --primary-color: #f4eaea;
  --secondary-color: #1b0e0e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Biryani", sans-serif;
}

h1 {
  font-family: "Courgette", cursive;
}

h2 {
  font-family: "Changa", sans-serif;
  font-weight: 600;
}
